<h1>Edit Employees</h1>
<%= form_for @employee do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :age %>
		<%= f.text_field :age %>
	</p>
	<p>
		<%= f.label :designation %>
		<%= f.text_field :designation %>
	</p>
	<p>
		  <%= f.label :gender %>
		<%= f.text_field :gender %>
	</p>
	<p>
	<%= f.submit({:class => 'btn  btn-primary'}) %>
	</p>
<% end %>
